@import "@fontsource/fira-code/400.css"; /* Regular weight */
@import "@fontsource/fira-code/700.css"; /* Bold weight */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: "Fira Code", monospace;
}

.flip-card {
	perspective: 1000px;
}

.flip-card-inner {
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	backface-visibility: hidden;
}

.flip-card-back {
	transform: rotateY(180deg);
}

@keyframes rotateGradient {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 100%;
	}
}

/* Apply styles only for WebKit browsers */
.scrollable-container::-webkit-scrollbar {
	width: 8px;
}

.scrollable-container::-webkit-scrollbar-track {
	background: #111;
	border-radius: 10px;
}

.scrollable-container::-webkit-scrollbar-thumb {
	background: #555;
	border-radius: 10px;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
	background: #888;
}
